@model task1.Models.Track

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Track</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_PartialTrackFormView" model="Model" />
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
